 body {
        margin: 0;
        background: url("https://assets.nflxext.com/ffe/siteui/vlv3/a09bb938-2d90-42ae-986e-5a3e4abf9e77/8eb1e781-3494-4aa4-9405-268ca6473e4c/IN-en-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg");
      }
      #heading {
        height: 20%;
        display: flex;
      }

      h1 {
        font-size: 55px;
        margin: 0;
      }

      #shadow {
        background: rgba(0, 0, 0, 0.7);
        height: 100vh;
      }

      #image {
        width: 40%;
        display: flex;
        justify-content: center;
        padding: 30px;
      }
      #buttons {
        padding: 30px;
        width: 60%;
        text-align: right;
      }

      #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        height: 80%;
      }
      #signin {
     
        background: red;
        padding: 8px 14px;
        border: none;
        color: white;
        font-size: 15px;
        border-radius: 5px;
        font-weight: bold;
      }
      p {
        margin: 13px;
        font-weight: 400;
      }
      #p1 {
        font-size: 28px;
      }
      #p2 {
        font-size: 23px;
      }
